*{
    margin: 0;
    padding: 0;
}
.container{

    width:100%;
    height: 100%;
}
html,body{
    width: 100%;
    height: 100%;
    padding: 0;

}
header{
    width: 100%;
    height: 250px;
    background-image: url(img/car.jpg);
    background-size: cover;
    background-position:top center ;
}
section{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 25%;
}
.menu ul{
    border: 1px solid blue;
 
}
.menu ul li{
    list-style: none;
    border-bottom:1px solid blue ;
    padding: 5px;

}
.menu ul li a{
    margin-top: 50px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;

}
.content{
    width: 74%;
    text-align: center;
}
.content h3{
    color: red;
    margin: 20px auto;
}
.content hr{
    width: 90%;
    color: red;
    background-color: red;
    border: 0;
    height: 1px;
    
}
.content img{
    width: 200px;

}
.xeototo header {
    height: 400px;
}